*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.start-page {
    height: 100vh;
    /* background-color: #73175A; */
    background: rgb(34,33,33);
    background: radial-gradient(circle, rgba(34,33,33,1) 40%, rgba(115,23,90,1) 100%);  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
    overflow-y: hidden;
}

.test-container {
    width: 700px;
    height: 500px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.start-page h1{
    color: #D9043D;
    font-weight: 700;
    font-size: 56px;
    z-index: 6;
}

.rocket {
    position: absolute;
    width: 5%;
    height: 30%;
    z-index: 10;
    animation-name: rocketMove;
    animation-iteration-count: 5;
    animation-duration: 20s;    
}

@keyframes rocketMove {
    0%{
        transform: rotate(85deg);
        left: -30%;
    }20%{
        transform: rotate(95deg);
        left: 140%;
    }40%{
        transform: rotate(5deg);
        left: 80%;
        top: 110%;
    }60%{
        transform: rotate(-5deg);
        left: 80%;
        top: -30%;
    }80%{
        transform: rotate(175deg);
        left: 20%;
        top: -30%;
    }100%{
        transform: rotate(185deg);
        left: 20%;
        top: 110%;}
}

.star {
    background-color: #D9043D;
    position: absolute;
    transition: 0.2s ease all;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #D9043D;
    margin: 10px;
}

.star:nth-child(2n){
    width: 5px;
    height: 5px;
}

.star:nth-child(3n){
    width: 15px;
    height: 15px;
}

.star:nth-child(8n){
    animation-name: glowing;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}

@keyframes glowing {
    from{
        box-shadow: 0px 0px 5px 1px #D9043D;
    }to{
        box-shadow: 0px 0px 10px 3px #D9043D;
    }
}

.star:hover{
    box-shadow: 0px 0px 20px 10px white;
    transition: 0.2s ease all;
}


.cloud-circle {
    width: 540px;
    height: 320px;
    filter: url(#filter);
    animation-name: cloudMove;
    animation-iteration-count: 20;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    border-radius: 50%;
    position: absolute;
    top: -320px;
    left: -320px;
  }

  @keyframes cloudMove {
      from{
        box-shadow: 900px 600px 500px 0px #D9043D
      }to{
        box-shadow: 400px 300px 500px 0px #D9043D
      }
  }

.earth {
    background-color: rgb(29, 26, 26);
    width: 500px;
    height: 250px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes glowingButton {
    from{
        opacity: 0.5;
    }to{
        opacity: 1;
    }
}


.earth i {
    color: #D9043D;
    font-size: 4rem;
    animation-name: glowingButton;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

.timer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    font-size: 8rem;
    color: #D9043D;
    font-weight: 700;
}


/* FIRST CHAPTER */

.first-chapter{
    height: 100vh;
    background: rgba(34,33,33,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes solarMove {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.sun {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 120, 58);
}


.orbite-one {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    animation: solarMove 15s linear infinite;
}

.planet {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    top: -10px; /* -child/2 */
    left: 40px; /* parent/2 - child/2 */
    animation: solarMove 1s linear infinite;
}

.satelite {
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: grey;
    top: -2px;
    left:18px;
}

.orbite-two {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    animation: solarMove 20s linear infinite;
}

.planet-two {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    top: -10px; /* -child/2 */
    left: 190px; /* parent/2 - child/2 */
    animation: solarMove 3s linear infinite;
}

.satelite-two {
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: grey;
    top: -2px;
    left:18px;
}

.orbite-three {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    animation: solarMove 15s linear infinite;
}

.planet-three {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    top: -10px; /* -child/2 */
    left: 140px; /* parent/2 - child/2 */
    animation: solarMove 3s linear infinite;
}

.satelite-three {
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: grey;
    top: -2px;
    left:18px;
}